.rayssa-calc-offgrid table.items input,
.rayssa-calc-offgrid .contact-data-container .field input {
    border: 0px solid #e7e7e7;
    border-radius: 25px;
    min-height: 40px;
}

.rayssa-calc-offgrid table.items [data-field="actions"] .delete i.far::before{
    color: #0E2B3D !important;
    font-size: 17px !important;
    font-weight: 400;
}

.rayssa-calc-offgrid table.items [data-field="qty"] input{
    width: 105px;
    text-align: center;
    color: var( --e-global-color-text );
}

.rayssa-calc-offgrid [data-field="power"] input {
	width: 145px;
    text-align: center;
    color: var( --e-global-color-text );
}

.rayssa-calc-offgrid [data-field="hours-by-day"] input {
	width: 180px;
    text-align: center;
    color: var( --e-global-color-text );
}

.rayssa-calc-offgrid > .actions{
    text-align: center;
}

.rayssa-calc-offgrid #add-item-button,
.rayssa-calc-offgrid .contact-data-container .field.submit button {
	background-color: #EC763E;
	color: white;
	padding: 8px 24px;
	border-radius: 25px;
}

.rayssa-calc-offgrid #add-item-button span{
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;

}

.rayssa-calc-offgrid table.items th{
    color: #666;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    line-height: 26px;
    font-size: 14px;
}

.rayssa-calc-offgrid .results-calculations{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rayssa-calc-offgrid .calc-result{
    background-color: #094B82;
    padding: 10px;
    border-radius: 10px;
    color: white;
    height: auto;
    margin-bottom: 15px;
}

.rayssa-calc-offgrid .results-calculations .capacity-results,
.rayssa-calc-offgrid .results-calculations .panels-calculation{
    margin-bottom: 60px;
}

.rayssa-calc-offgrid .results-calculations .capacity-results,
.rayssa-calc-offgrid .results-calculations .panels-calculation,
.rayssa-calc-offgrid .results-calculations .hourly-amperage-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rayssa-calc-offgrid .results-calculations .capacity-results .calc-result{
    width: 45%;
    font-size: 18px;
    text-align: center;
    padding: 18px;
}


.rayssa-calc-offgrid .hourly-amperage-container .calc-result{
    font-size: 12px;
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

@media (max-width:480px){

    .rayssa-calc-offgrid .results-calculations .panels-calculation .step-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-2 .panel-count .title{
    width: 100%;
}

.rayssa-calc-offgrid .panels-calculation .step-2 .calc-result.panel-count {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-2 .panel-count .title {
    width: 100%;
    text-align: center;
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-2 .panel-count .value {
	font-size: 45px;
	font-weight: 800;
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-2 .panel-count .unit {
    line-height: 14px;
    font-size: 13px;
}

.rayssa-calc-offgrid .results-calculations .panels-calculation .step-2 .panel-count .value-ctnr{
    display: flex;
    align-items: flex-start;
    padding: 16px 0px;
}

.rayssa-calc-offgrid .contact-data-container{
    width: 500px;
}

.rayssa-calc-offgrid .contact-data-container .field label{
    width: 200px;
}

.rayssa-calc-offgrid .contact-data-container .field{
    margin-bottom: 10px;
}

.rayssa-calc-offgrid .contact-data-container .field.financiamiento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
}

.rayssa-calc-offgrid .contact-data-container .field.financiamiento .salvum-finantials{
    display: flex;
    justify-content: space-around;
    width: 300px;
    flex-wrap: nowrap;
    width: 290px;
    font-size: 12px;
    align-items: center;
}

.rayssa-calc-offgrid .contact-data-container .salvum-finantials img{
    width: 100px;
    border: 2px solid #2d3f84;
    border-radius: 9px;
}

.rayssa-calc-offgrid .contact-data-container .salvum-finantials li{
    font-weight: 700;
}

.rayssa-calc-offgrid .contact-data-container .salvum-finantials li.cuotas{
    font-size:15px;
}

.rayssa-calc-offgrid .contact-data-container .field.submit,
.rayssa-calc-offgrid .contact-data-container .field input[type="text"]
{
    text-align: center;
}

.rayssa-calc-offgrid .contact-data-container .field input[type="text"]
{
    color: #7A7A7A;
}

.rayssa-calc-offgrid .contact-data-container .field input[type="checkbox"]
{
    min-height: 0px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.rayssa-calc-offgrid .contact-data-container .field.warning,
.rayssa-calc-offgrid .contact-data-container .field.warning p{
    width: 100%;
}

.rayssa-calc-offgrid .select2-container--default .select2-selection--single {
    border-radius:25px !important;
}