.rayssa-calc-ongrid table.items{
    overflow: visible;
}   

.rayssa-calc-ongrid table.items td{
    text-align: center;
}

.rayssa-calc-ongrid .results-calculations{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rayssa-calc-ongrid .capacity-results {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2%;
	row-gap: 20px;
    width: 100%;
}

.rayssa-calc-ongrid .capacity-results .calc-result {
	padding: 20px;
	background-color: #214173;
	color: white;
	border-radius: 20px;
	box-sizing: border-box;
	width: 48%;
}


.rayssa-calc-ongrid .capacity-results{
    margin-top: 60px;
    margin-bottom: 60px;
}

.rayssa-calc-ongrid .contact-data-container{
    width: 500px;
}

.rayssa-calc-ongrid .contact-data-container .field.submit button {
	background-color: #EC763E;
	color: white;
	padding: 8px 24px;
	border-radius: 25px;
}

.rayssa-calc-ongrid .contact-data-container .field label{
    width: 200px;
}

.rayssa-calc-ongrid .contact-data-container .field{
    margin-bottom: 10px;
}

.rayssa-calc-ongrid .contact-data-container .field.financiamiento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
}

.rayssa-calc-ongrid .contact-data-container .field.financiamiento .salvum-finantials{
    display: flex;
    justify-content: space-around;
    width: 300px;
    flex-wrap: nowrap;
    width: 290px;
    font-size: 12px;
    align-items: center;
}

.rayssa-calc-ongrid .contact-data-container .salvum-finantials img{
    width: 100px;
    border: 2px solid #2d3f84;
    border-radius: 9px;
}

.rayssa-calc-ongrid .contact-data-container .salvum-finantials li{
    font-weight: 700;
}

.rayssa-calc-ongrid .contact-data-container .salvum-finantials li.cuotas{
    font-size:15px;
}

.rayssa-calc-ongrid .contact-data-container .field.submit,
.rayssa-calc-ongrid .contact-data-container .field input[type="text"]
{
    text-align: center;
}

.rayssa-calc-ongrid .contact-data-container .field input[type="text"]
{
    color: #7A7A7A;
}

.rayssa-calc-ongrid .contact-data-container .field input[type="checkbox"]
{
    min-height: 0px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.rayssa-calc-ongrid .contact-data-container .field.warning,
.rayssa-calc-ongrid .contact-data-container .field.warning p{
    width: 100%;
}

.rayssa-calc-ongrid table.items input,
.rayssa-calc-ongrid .contact-data-container .field input {
    border: 0px solid #e7e7e7;
    border-radius: 25px;
    min-height: 40px;
}

.rayssa-calc-ongrid table.items input[type="number"],
.rayssa-calc-ongrid .contact-data-container .field input[type="text"] {
    text-align: center;
}

.rayssa-calc-ongrid .select2-container--default .select2-selection--single {
    border-radius:25px !important;
}
   
@media only screen and (max-width: 760px), 
(min-device-width: 768px) and (max-device-width: 1024px)  {
    /* Force table to not be like tables anymore */
    table.items, table.items thead, table.items tbody, 
    table.items th, table.items td, table.items tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.items thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.items tr {
        margin: 0 0 1rem 0;
    }
        
    table.items   tr:nth-child(odd) {
        background: #beddff;
    }
      
    table.items td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
  
    table.items  td::before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table.items  td[data-field="artifact"]::before{
        top: 21px;
    }

    table.items  td[data-field="qty"]::before,
    table.items  td[data-field="power"]::before,
    table.items  td[data-field="hours-by-day"]::before{
        top: 17px;
    }
  
    /*
        Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    table.items td:nth-of-type(1):before { content: "Panel solar"; }
    table.items td:nth-of-type(2):before { content: "Cantidad"; }
    table.items td:nth-of-type(3):before { content: "Potencia"; }
    table.items td:nth-of-type(4):before { content: "Tiempo de uso"; }
    table.items td:nth-of-type(5):before { content: "KW/h día"; }
    table.items td:nth-of-type(6):before { content: "KW/h mes"; }
    table.items td:nth-of-type(7):before { content: "Eliminar"; }





    /* Estilos para la sección del resultado de los paneles (step 1). */
    .rayssa-calc-ongrid .results-calculations .panels-calculation .step-1{
        flex-wrap: wrap;
    }
    .rayssa-calc-ongrid .panels-calculation .step-1 .selection, 
    .rayssa-calc-ongrid .panels-calculation .step-1 .calc-result {
        width: 95%;
    }

    .rayssa-calc-ongrid .panels-calculation .step-1 .selection{
        margin-bottom: 8px;
    }

    .rayssa-calc-ongrid .panels-calculation .step-1 #region-selector{
        width: 100%;
    }

    .rayssa-calc-ongrid .panels-calculation .step-2 .calc-result.panel-count{
        margin-right: 5px;
        margin-left: 5px;
        width: 44%;
    }

    .rayssa-calc-ongrid .contact-data-container {
        width: 95%;
    }

    .rayssa-calc-ongrid .contact-data-container .field input[type="text"],
    .rayssa-calc-ongrid .contact-data-container .field.financiamiento {
        width: 100%;
    }

}