
.rayssa-calc-result-procd-ok .dwld-link-wrapper {
	text-align: center;
    margin-bottom: 60px;
}

.rayssa-calc-result-procd-ok .dwld-link{
    display: inline-block;
}

.rayssa-calc-result-procd-ok .dwld-link .el-group-wrapper {
	padding: 10px 20px;
	background-color: #EC763E;
	border-radius: 20px;
	color: white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.rayssa-calc-result-procd-ok .dwld-link .el-group-wrapper > i{
    margin-right: 15px;
}

.rayssa-calc-result-procd-ok .dwld-link .el-group-wrapper:hover{
    background-color: #f0c2ad;
    color: rgb(76, 76, 76);
}

.rayssa-calc-result-procd-ok .elementor-icon-list-item.elementor-inline-item {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}

.rayssa-calc-result-procd-ok p {
	text-align: center;
}